@media (min-width: 768px) {
	.brand-link {
		width: 220px;
	}
	.navbar {
		padding: 20px 40px;
	}
	.nav-item {
		margin-right: 40px;
		font-size: 40px;
	}
	.navbar-nav {
		align-items: unset;
	}
	.h1-orange {
		text-align: center;
	}
	.discipline-list {
		flex-flow: column;
	}
	.discipline-list-item {
 	 	height: 95px;
  	}
	#facebook-icon {
		margin-left: 33.33333%;
	}
	.videos{
		align-items: center;
	}
	.diagonal-line {
	    height: 45px;
	}

	.tournament-info {
		padding: 0 20px;
	}

}
@media (min-width: 1024px) {
	.header-content{
		display: flex;
		flex-flow: row;
		justify-content: space-between;
	}
	.brand-link {
    	width: 250px;
	}
	.navbar {
		padding: 20px 20px;
	}
	.nav-link {
		font-size: 23px;
	}
	.header-slogan{
		font-size: 40px;
	}
	.header-invitation{
		font-size: 25px;
	}
	.slogan-invitation-container{
		width: 50%;
	}
	.sign-up-button-container{
		display: flex;
		align-items: center;
		width: 50%;
	}
	.discipline-list-item {
		height: 106px;
		margin-right: 1px;
		margin-top: 40px;
	}
	#disciplines-title {
		padding-top: 40px;
	}
	.discipline-list {
		flex-flow: row;
		flex-wrap: wrap;
		padding-bottom: 40px;
		justify-content: space-evenly;
	}
	.header-sign-up-btn{
		margin: 0 auto;
    	width: 280px;
    	height: 95px;
    	font-size: 25px;
    	line-height: 30px;
	}
	.h1-orange {
		font-size: 40px;
	}

	.youtube {
		width: 500px;
		height: 281px;
	}

	.brand-link-footer {
		padding-left: 0;
	}
	.socialfooter img {
		height: auto;
	}
	.socialfooter {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.tournament-title {
		font-size: 45px;
	}
	.tournament-caption {
		font-size: 25px;
	}
	.tournament-register-inv {
		font-size: 25px;
	}

}
