@font-face{
	font-family: 'Montserrat S';
  src: url(./fonts/Montserrat-SemiBold.ttf);
}
.esports-intro{
  background-color: #090909;
  align-items: center;
}
.orange{
  font-size: 2rem;
  color: #F44E1D;
  margin-left: 30px;
  font-family: Montserrat S;
}
.video{
  margin-left: 30px;
}

#burgerBtn {
	border: none;
    outline: none;
}
#burgerBtn:focus {
	border: none;
    outline: none;
}
#burgerBtn img{
	width: 35px;
    height: 35px;
}
.nav-link {
	color: #090909;
}
.brand-link {
	width: 200px;
}
.logo {
	max-width: 100%;
	margin-top: 10px;
}

